<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@12.1.3/dist/handsontable.full.min.css" />

  <script src="https://unpkg.com/htmx.org@1.3.3"></script>
</head>
<body>
<div id="instruction-overlay" class="full-screen-container">
  Waiting for another player to connect...
</div>
<div class="top-bar">
  <div id="status"></div>
</div>
<div class="main">
  <div id="game" class="row">
    <aside id="instruction-sidebar" class="col">
      <h4>Instructions</h4>
        Assign one paper to each reviewer (<a href="https://docs.google.com/document/d/1L7DGARO8SWxyFTshwiuwcHsqqMEjY9yEgkfdNdsXDN8/edit?usp=sharing" target="_blank">full instructions</a>):
        <br>
        <div id="table"></div>
    </aside>
    <div id="log" class="col">
      <h3>Chat</h3>
      <div class="action-log">
      </div>
      <div class="waiting">Waiting for the other player to take their turn...</div>
      <div class="actions">
        <div id="actions-utterance" class="row">
          <div class="col-10">
            <textarea name="utterance" rows="3" id="utterance" class="form-control" placeholder="Say something..."></textarea>
          </div>
          <div class="col">
            <button id="submit-utterance" class="btn btn-primary btn-block" onClick="submitUtterance()">Send</button>
          </div>
        </div>
        <div id="actions-proposal" class="row">
          <div id="proposal-form-container" class="col"></div>
        </div>
        <div id="actions-proposal-response" class="row" hidden>
          <div class="col">
            <button id="accept-proposal" class="btn btn-success btn-block" onClick="submitAcceptProposal()">Accept</button>
          </div>
          <div class="col">
            <button id="reject-proposal" class="btn btn-danger btn-block" onClick="submitRejectProposal()">Reject</button>
          </div>
        </div>
      </div>
      <div class="scratchpad">
        <textarea id="textbox" type="text" placeholder="Feel free to use this space to plan your messages. The other player will not see what you write in this box."></textarea>
      </div>
      <div id="toggle-best" class="toggle">
        <div class="custom-control custom-switch">
          <input onClick="toggleSolution()" type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Show the best possible solution</label>
        </div>
      </div>
    </div>
  </div>

</div>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='client.js', version=5) }}"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/handsontable@12.1.3/dist/handsontable.full.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
